$main_color: rgba(104, 104, 172, 1);
$color_1: rgba(104, 104, 172, 0.8);
$color_2: rgba(104, 104, 172, 0.5);
$color_3: rgba(255, 255, 255, 0.25);
html,
body {
    font-family: '微軟正黑體';
    width: 100%;
    overflow: hidden;
    cursor: none;
}