.star_point{
    opacity: 1 !important;
}

.end_point{
    fill: rgb(36, 52, 196) !important;
    opacity: 1 !important;
}

.path{
    fill: rgb(219, 58, 58) !important;
    box-shadow: 3px 3px #aaa !important;
}

.acc_event *{
    fill: rgb(218, 19, 19) !important;
}
.rain_event *{
    fill: rgb(19, 105, 218) !important;
}
.jam_event *{
    fill: rgb(238, 169, 42) !important;
}