// cursor
$cursor: 40px;

$colorA: #fff;
$colorB: #000;
$colorC: rgb(219, 219, 219);
$colorD: rgb(131, 131, 131);
$colorF: rgb(163, 163, 163);

$main_colorA: rgb(49, 100, 134);
$main_colorB: rgb(13, 45, 66);
$main_colorC: rgba(13, 45, 66, 0.8);
$main_colorD: rgb(2, 24, 37);

$font_h1: 3em;

$font_h2: $font_h1 * 0.8;
$font_h3: $font_h1 * 0.7;
$font_h4: $font_h1 * 0.6;
$font_h5: $font_h1 * 0.5;
$font_h6: $font_h1 * 0.4;

$font_text: $font_h1 * 0.4;

$font_spacing: 0.1em;
$text_spacing: 0.2em;