.banner{
    padding: 20% 10% 0 30% !important;
    h1{
        font-size: 54px !important;
        padding-bottom: 15px;
    }
    p{font-size: 16px !important;}
}

nav{
    .iocn{
        width: 30px !important;
        height: 30px !important;
        left: 10% !important;
    }
    ul{
        right: 5% !important;
        li{
            margin-left: 40px !important;
            font-size: 14px !important;
        }
    }
}
#ScrollTop{
    width: 50px !important;
    height: 50px !important;
    right: 20px !important;
    bottom: 30px !important;
    font-size: 12px !important;
}

.down_button{
    width: 50px !important;
    height: 50px !important;
    bottom: 25px !important;
    font-size: 20px !important;
}

.close_button{display: block !important;}

.ab_t{
    .text_L{width: 90% !important;}
}

.introduction{
    .plant_img{margin-right: 0px !important;}
}

.about{
    width: 95% !important;
    .text_M{
        font-size: 15px !important;
    }
}